absl-py
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
arxiv
asttokens
astunparse
attrs
audioop-lts
blis
brotli
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
comm
confection
contourpy
cryptography
cycler
cymem
dataclasses-json
debugpy
decorator
deepdiff
distro
executing
faiss-cpu
fastapi
fastjsonschema
feedparser
ffmpy
filelock
filetype
flatbuffers
fonttools
frozenlist
fsspec
gast
google-pasta
gradio
gradio-client
greenlet
groovy
grpcio
h11
h5py
httpcore
httpx
httpx-sse
huggingface-hub
idna
ipykernel
ipython
ipython-pygments-lexers
jedi
jinja2
jiter
joblib
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
keras
kiwisolver
langchain
langchain-community
langchain-core
langchain-nvidia-ai-endpoints
langchain-openai
langchain-text-splitters
langchain-unstructured
langcodes
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langserve
langsmith
language-data
libclang
lxml
marisa-trie
markdown
markdown-it-py
markupsafe
marshmallow
matplotlib
matplotlib-inline
mdurl
ml-dtypes
multidict
murmurhash
mypy-extensions
namex
nbformat
nest-asyncio
numpy
openai
opt-einsum
optree
orderly-set
orjson
ormsgpack
packaging
pandas
parso
pillow
pip
platformdirs
preshed
prompt-toolkit
propcache
protobuf
psutil
pure-eval
pycparser
pydantic
pydantic-core
pydantic-settings
pydub
pygments
pymupdf
pyparsing
pypdf
python-dateutil
python-dotenv
python-multipart
pytz
pywin32
pyyaml
pyzmq
referencing
regex
requests
requests-toolbelt
rich
rpds-py
ruff
safehttpx
scikit-learn
scipy
semantic-version
setuptools
sgmllib3k
shellingham
six
smart-open
sniffio
spacy-legacy
spacy-loggers
sqlalchemy
srsly
stack-data
starlette
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
thinc
threadpoolctl
tiktoken
tomlkit
tornado
tqdm
traitlets
typer
typing-extensions
typing-inspect
typing-inspection
tzdata
unstructured-client
urllib3
uvicorn
wasabi
wcwidth
weasel
websockets
werkzeug
wheel
wrapt
xxhash
yarl
zstandard
